@media (prefers-color-scheme: dark) {
    :root {
        --bg-01: #3b3b3b;
        --main-col-01: #4fd0c7;
        --font-col: #fff;
        --back-col: #1e1e1e;
        --bg-02: #363636;
    }

    .logo {
        filter: invert(100%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-01: #d5d5d5;
        --main-col-01: #4fd0c7;
        --font-col: #000;
        --back-col: #fff;
        --bg-02: #f6f6f6;
    }
}

body {
    background: var(--back-col);
}

.navbar {
    background-color: var(--bg-01);
}

.hero {
    background: linear-gradient(244deg, #1cbf46, #1ca1bf, #6ca1ff);
    background-size: 1000% 1000%;
    animation: background-anim 20s ease infinite;
}

@keyframes background-anim {
    0% { background-position: 4% 0; }

    50% { background-position: 97% 100%; }

    100% { background-position: 4% 0; }
}

footer {
    background-color: var(--bg-01);
}

.dark-btn {
    color: black;
    border-color: black;
}

.report-body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ccc;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    color: var(--font-col);
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    padding-top: 30px;
}

.modal-body {
    background: var(--bg-02);
}

.modal-footer {
    background: var(--bg-02);
}

.modal-header {
    background: var(--bg-02);
}

.nav-link {
    color: var(--font-col);
}

.nav-link:hover {
    color: var(--font-col);
}

.about_card .card {
    background: var(--bg-02);
}

.invalid_input {
    border-color: #d23d47;
}

input {
    border: 2px;
}

::placeholder {
    color: #d23d47;
}

::-ms-input-placeholder {
    color: #d23d47;
}
