@media (prefers-color-scheme: dark) {
    :root {
        --bg-01: #3b3b3b;
        --main-col-01: #4fd0c7;
        --font-col: #fff;
        --back-col: #1e1e1e;
        --bg-02: #363636;
        --sub-nav-back: #626262;
        --sub-nav-back-highlight: #8a8a8a;
        --hero-back0: #30a94d;
        --hero-back1: #146f83;
        --hero-back2: #1c3f86;
    }

    .logo {
        filter: invert(100%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-01: #d5d5d5;
        --main-col-01: #4fd0c7;
        --font-col: #000;
        --back-col: #fff;
        --bg-02: #f6f6f6;
        --sub-nav-back: #fff;
        --sub-nav-back-highlight: #e9ecef;
        --hero-back0: #1cbf46;
        --hero-back1: #1ca1bf;
        --hero-back2: #6ca1ff;
    }
}

body {
    background: var(--back-col);
}

.navbar {
    background-color: var(--bg-01);
}

.hero {
    background: linear-gradient(244deg, var(--hero-back0), var(--hero-back1), var(--hero-back2));
    background-size: 1000% 1000%;
    animation: background-anim 20s ease infinite;
}

@keyframes background-anim {
    0% { background-position: 4% 0; }

    50% { background-position: 97% 100%; }

    100% { background-position: 4% 0; }
}

footer {
    background-color: var(--bg-01);
}

.dark-btn {
    color: black;
    border-color: black;
}

.report-body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ccc;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    color: var(--font-col);
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    padding-top: 30px;
}

.modal-body {
    background: var(--bg-02);
}

.modal-footer {
    background: var(--bg-02);
}

.modal-header {
    background: var(--bg-02);
}

.nav-link {
    color: var(--font-col);
}

.nav-link:hover {
    color: var(--font-col);
}

.dropdown-menu {
    background: var(--sub-nav-back);
}

.dropdown-item {
    color: var(--font-col);
}

.dropdown-item:hover {
    background: var(--sub-nav-back-highlight);
    transition: 0.2s;
}

.about_card {
    background: var(--bg-02);
}

.card {
    background: var(--bg-02);
}

.invalid_input {
    border-color: #d23d47;
}

input {
    border: 2px;
}

::placeholder {
    color: #d23d47;
}

::-ms-input-placeholder {
    color: #d23d47;
}
